<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mushuichuan.removebadge"
          xmlns:android="http://schemas.android.com/apk/res/android">
    //for sumsung
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    //for htc
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    //for sony
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonyericsson.home.permission.RECEIVE_BADGE" />
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".RemoveBadgeService"
            android:exported="false">
        </service>

        <receiver
            android:name=".ShowBadgeReceiver"
            android:enabled="true"
            android:exported="true">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BADGE_COUNT_UPDATE"/>-->
                <!--<action android:name="com.sonyericsson.home.action.UPDATE_BADGE"/>-->
                <!--<action android:name="com.htc.launcher.action.SET_NOTIFICATION"/>-->
            <!--</intent-filter>-->
        </receiver>
        <receiver android:name=".RemoveBadgeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.mushuichuan.removebadge.widget"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/remove_badge_widget_info"/>
        </receiver>
    </application>

</manifest>